body {
    background-image: url("image/mount-cook.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    font-family: 'Microsoft JhengHei UI'
}

.loginform {
    width: 25%;
    min-width: 300px;
    min-height: 200px;
    margin: auto auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    margin-top: 15em;
    padding: 15px
}

div.form-action {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.col-form-label {
    text-align: center
}

hr {
    border-top-width: 2px;
    border-top-color: #a1a1a1
}
